body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgb(216, 233, 62);
}

h1{
    size: 25px;
    color: black;
    text-align: center;
}